board: kanban
branch: ''
chat_index: 0
chat_links: []
check_lists: []
column: Done
column_id: ''
created_at: '2025-03-08 08:59:51.903473'
description: ''
doc_id: null
file_list: []
file_path: /shared/codx-junior/client/.codx/tasks/kanban/Done/changes-at-shared-codx-junior-client-src-components-ai-settings-aiproviders-vue.0f6257df-b5bf-4df7-abac-4bc54632090e.yaml
id: 0f6257df-b5bf-4df7-abac-4bc54632090e
kanban_id: ''
knowledge_topics: []
llm_model: ''
message_id: null
messages: []
mode: chat
name: changes_at_/shared/codx-junior/client/src/components/ai_settings/AIProviders.vue
parent_id: null
pinned: false
pr_view: {}
profiles: []
project_id: null
remote_url: ''
status: ''
tags: []
updated_at: '2025-10-18T07:47:00.131340'
url: ''
users: []
visibility: ''
