board: workspaces
branch: ''
chat_index: 0
chat_links: []
check_lists: []
column: In Development
column_id: ''
created_at: '2025-09-13 14:25:52.617041'
description: ''
doc_id: null
file_list: []
file_path: /shared/codx-junior/api/.codx/tasks/workspaces/In Development/webtop-workspaces.34b372fa-43ee-4d33-ba1b-f666ace3da0c.yaml
id: 34b372fa-43ee-4d33-ba1b-f666ace3da0c
kanban_id: ''
knowledge_topics: []
llm_model: ''
message_id: null
messages: []
mode: task
name: webtop workspaces
parent_id: null
pinned: false
pr_view: {}
profiles: []
project_id: null
remote_url: ''
status: ''
tags: []
updated_at: '2025-09-13T16:07:45.091577'
url: ''
users: []
visibility: ''
