.venv
node_modules
__pycache__
*egg-*
client/.vite
global_settings*
**/.codx/db
filebrowser.
core
.idea
.vscode
static
pids
ollama_models
logs
.codx/logs/ai.md
**/.vitepress/cache
**/dist
client/public/wiki
*.db
*.wal
*.lock
docs/.vitepress/.temp
acme.json


# Default workspace
## webtop's /config folder in Desktop workspace 
codx-junior-installer/codx-junior/workspaces/codx-junior-workspace-default/config
codx-junior-installer/codx-junior-dind/images
projects/