.venv
node_modules
__pycache__
*egg-*
client/.vite
global_settings*
**/.codx/db
filebrowser.
core
.idea
.vscode
static
llm-factory/ollama-data
pids
ollama_models
logs
.codx/logs/ai.md
**/.vitepress/cache
**/dist
client/public/wiki
*.db
*.wal
*.lock
llm-factory/litegpt/checkpoints
llm-factory/litegpt/out