@import './base.css';
@import './fontawesome-free-6.5.1-web/css/all.min.css';

@font-face {
  font-family: Droid Sans Mono;
  src: url("https://fonts.googleapis.com/css?family=Droid Sans Mono");
}

html, body {
  height: 100% !important;
  width: 100% !important;
}


.codx-primary,
.text-codx-primary {
  color: #cc0099;
}

.codx-secondary,
.text-codx-secondary {
  color: #8f008f;
}

.bg-codx-primary {
  background-color: #cc0099;
}

.bg-codx-secondary {
  background-color: #8f008f;
}

div[data-reka-popper-content-wrapper] {
  z-index: 2 !important;
}

.scroller * {
  overflow-anchor: none;
}

.scroller .anchor {
  overflow-anchor: auto;
  height: 1px;
}

button,
.click {
  cursor: pointer;
}

.view-code pre,
.view-code code.hljs {
  background-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-bg-opacity, 1))) !important;
  max-height: 600px !important;
  overflow: auto !important;
  
  font-family: "Droid Sans Mono", "monospace", monospace !important;
  font-weight: normal !important;
  font-size: 16px !important;
  font-feature-settings: "liga" 0, "calt" 0 !important;
  font-variation-settings: normal !important;
  line-height: 19px !important;
  letter-spacing: 0px !important;
}

/** Desktop **/

.dv-dockview,
.dv-groupview {
    background-color: var(--base-color-300) !important;
}

.dv-tabs-and-actions-container {
    background-color: var(--color-base-200) !important;
    color: inherit !important;
}

.dv-tabs-and-actions-container .dv-tabs-container > .dv-tab.dv-inactive-tab,
.dv-tab {
  background-color: inherit !important;
  color: inherit !important;
}

.dv-groupview.dv-active-group > .dv-tabs-and-actions-container .dv-tabs-container > .dv-tab.dv-inactive-tab,
.dv-groupview.dv-active-group > .dv-tabs-and-actions-container .dv-tabs-container > .dv-tab.dv-active-tab {
    background-color: inherit !important;
    color: inherit !important;
}

.dv-tab.dv-inactive-tab {
  opacity: 0.3;
}

.dv-tab.dv-active-tab {
  opacity: 1;
}

.dv-tab.dv-active-tab .codx-tab {
  opacity: 1;
  color: var(--color-primary);
}
