@import './base.css';
@import './fontawesome-free-6.5.1-web/css/all.min.css';


@import 'floating-vue/dist/style.css';
@import 'floating-vue/style.css';

html, body {
  height: 100% !important;
  width: 100% !important;
}

.scroller * {
  overflow-anchor: none;
}

.scroller .anchor {
  overflow-anchor: auto;
  height: 1px;
}

.click {
  cursor: pointer;
}