board: Default
branch: ''
chat_index: 0
chat_links: []
check_lists: []
column: tasks
column_id: ''
created_at: '2024-12-19T14:53:31.746839'
description: ''
doc_id: null
file_list: []
file_path: /shared/codx-junior/api/.codx/tasks/Default/tasks/avoid-absolute-path-prject-apth.82cd24f6-eb6c-4365-b979-c5d6e0551a36.yaml
id: 82cd24f6-eb6c-4365-b979-c5d6e0551a36
kanban_id: ''
knowledge_topics: []
llm_model: ''
message_id: null
messages:
- content: If project_path is empty when reding project.json file we'll use the main
    path pass to the load settings function
  created_at: '2024-12-19 08:38:03.102632'
  disable_knowledge: false
  doc_id: null
  done: true
  files: []
  hide: false
  images: []
  improvement: false
  is_answer: false
  is_thinking: false
  knowledge_topics: []
  meta_data: {}
  profiles: []
  read_by: []
  role: user
  task_item: ''
  think: ''
  updated_at: '2024-12-19 08:38:03.102662'
  user: null
mode: task
name: Avoid absolute path prject_apth
parent_id: ''
pinned: false
pr_view: {}
profiles: []
project_id: null
remote_url: ''
status: ''
tags: []
updated_at: '2025-01-10T04:34:40.431203'
url: ''
users: []
visibility: ''
