board: Default
branch: ''
chat_index: 0
chat_links: []
check_lists: []
column: tasks
column_id: ''
created_at: '2024-10-03T07:27:52.414418'
description: ''
doc_id: null
file_list: []
file_path: /shared/codx-junior/api/.codx/tasks/Default/tasks/new-chat.-1.yaml
id: '-1'
kanban_id: ''
knowledge_topics: []
llm_model: ''
message_id: null
messages: []
mode: task
name: New chat
parent_id: ''
pinned: false
pr_view: {}
profiles: []
project_id: null
remote_url: ''
status: ''
tags: []
updated_at: '2024-10-04T07:27:09.986814'
url: ''
users: []
visibility: ''
