[Desktop Entry]
Version=1.0
Type=Application
Name=Chrome
Comment=Browse the World Wide Web
Exec=/usr/bin/chrome
Icon=chrome
Path=
Terminal=false
StartupNotify=true
