board: Default
branch: ''
chat_index: 0
chat_links: []
check_lists: []
column: done
column_id: ''
created_at: '2024-10-03T07:27:52.414418'
description: ''
doc_id: null
file_list: []
file_path: /shared/codx-junior/api/.codx/tasks/Default/done/cache-milvus-connections.-1.yaml
id: '-1'
kanban_id: ''
knowledge_topics: []
llm_model: ''
message_id: null
messages:
- content: We must cache milvus connections per project to avoid reconnecting everytim
  created_at: '2025-01-10 05:26:13.518781'
  disable_knowledge: false
  doc_id: null
  done: true
  files: []
  hide: false
  images: []
  improvement: false
  is_answer: false
  is_thinking: false
  knowledge_topics: []
  meta_data: {}
  profiles: []
  read_by: []
  role: user
  task_item: ''
  think: ''
  updated_at: '2025-01-10 05:26:13.518808'
  user: null
mode: task
name: cache milvus connections
parent_id: ''
pinned: false
pr_view: {}
profiles:
- analyst
project_id: null
remote_url: ''
status: ''
tags: []
updated_at: '2025-01-17T19:26:47.791643'
url: ''
users: []
visibility: ''
