board: kanban
branch: ''
chat_index: 0
chat_links: []
check_lists: []
column: tasks
column_id: ''
created_at: '2025-02-10 09:18:00.738701'
description: ''
doc_id: null
file_list: []
file_path: /shared/codx-junior/llm-factory/.codx/tasks/kanban/tasks/ollama-test.d4365e10-53af-4332-ac4f-dd8595bb6731.yaml
id: d4365e10-53af-4332-ac4f-dd8595bb6731
kanban_id: ''
knowledge_topics: []
llm_model: ''
message_id: null
messages: []
mode: chat
name: Ollama test
parent_id: null
pinned: false
pr_view: {}
profiles:
- software_developer
project_id: null
remote_url: ''
status: ''
tags: []
updated_at: '2025-02-10T18:50:40.815956'
url: ''
users: []
visibility: ''
