board: Knowledge
branch: ''
chat_index: 0
chat_links: []
check_lists: []
column: In Progress
column_id: ''
created_at: '2025-08-12 14:52:17.865242'
description: ''
doc_id: null
file_list: []
file_path: /shared/codx-junior/api/.codx/tasks/Knowledge/In Progress/fix-blocking-files.1c968d50-5e77-4428-afc5-7c0fddf85b69.yaml
id: 1c968d50-5e77-4428-afc5-7c0fddf85b69
kanban_id: ''
knowledge_topics: []
llm_model: ''
message_id: null
messages: []
mode: chat
name: Fix blocking files
parent_id: null
pinned: false
pr_view: {}
profiles: []
project_id: null
remote_url: ''
status: ''
tags: []
updated_at: '2025-08-12T15:10:57.318866'
url: ''
users: []
visibility: ''
