board: Browser
branch: ''
chat_index: 0
chat_links: []
check_lists: []
column: def
column_id: ''
created_at: '2025-01-31 09:07:36.093572+00:00'
description: ''
doc_id: null
file_list: []
file_path: /shared/codx-junior/api/.codx/tasks/Browser/def/new-analysis-task.6090a204-97ce-4527-b313-207b6f7c9d71.yaml
id: 6090a204-97ce-4527-b313-207b6f7c9d71
kanban_id: ''
knowledge_topics: []
llm_model: ''
message_id: null
messages:
- content: A task
  created_at: '2025-01-31 09:07:24.183283'
  disable_knowledge: false
  doc_id: null
  done: true
  files: []
  hide: false
  images: []
  improvement: false
  is_answer: false
  is_thinking: false
  knowledge_topics: []
  meta_data: {}
  profiles: []
  read_by: []
  role: user
  task_item: ''
  think: ''
  updated_at: '2025-01-31 09:07:24.183319'
  user: null
mode: task
name: New Analysis Task
parent_id: ''
pinned: false
pr_view: {}
profiles:
- analyst
project_id: null
remote_url: ''
status: ''
tags: []
updated_at: '2025-01-31T10:49:40.469480'
url: ''
users: []
visibility: ''
